@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');


:root {
  --black: #292a2b;
  --offwhite: #e0dfdb;
  --white: #f8f7f6;
  --dim-light: #b9b6ad;
  --soft-dark: #6b6e71;
  --orange: #ed5d40;

  --pinecone: url('/images/pinecone.png');
  --street-light: url('/images/street-light.svg');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.light {
  --fg: var(--black);
  --bg: var(--offwhite);
  --br:var(--offwhite);
}

.active {
  --fg: var(--black);
  --bg: var(--white);
  --br: var(--black);
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: var(--black);
  background-color: var(--offwhite);
}

h2 {
  font-size: 48px;
  font-weight: 600;
  margin: 2vh 0;
}

a {
  text-decoration: none;
}

p {
  font-size: 20px;
  line-height: 28px;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.link {
  color: var(--black);
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline 2px;
  transition: all ease-out .3s;
}

.link:hover {
  color: var(--orange);
}

@media screen and (max-width: 991px) {

  h2 {
    font-size: 5vh;
    margin: 1vh 0;
  }

  p {
    font-size: 18px;
    line-height: 26px;
  }

  .link {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {

  p {
    font-size: 16px;
    line-height: 24px;
  }

  .link {
    font-size: 16px;
  }
}